/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/vendor/

# keep the tmp directory around but ignore everything in it
/tmp/*
!/tmp/.keep

# rspec failure tracking
.rspec_status
/dependency-check/

.idea